# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:
  push: { branches: ["main"] }
jobs:
  get-quotes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Let the magic happen
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      
      - run: npm ci

      - run: node .

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "[Magic] README updated with new quote!!"
          pathspec_error_handling: ignore
          push: true
